<div class="page-control">
	<ul class="actions fit">
		<li style="padding-left: 5%; padding-right: 10%">
			{% if page.previous.url %}
			<a id="prev" class="button fit" href="{{ page.previous.url }}" style="white-space:nowrap; text-overflow: ellipsis; overflow: hidden;">&laquo; {{ page.previous.title }}</a>
			{% else %}
			<a id="prev" class="button disabled fit">&laquo; 이전 포스트</a>
			{% endif %}
		</li>
		<li style="padding-left: 10%; padding-right: 5%">
			{% if page.next.url %}
			<a id="next" class="button special fit" href="{{ page.next.url }}" style="white-space:nowrap; text-overflow: ellipsis; overflow: hidden;">{{ page.next.title }} &raquo;</a>
			{% else %}
			<a id="next" class="button special disabled fit">다음 포스트 &raquo;</a>
			{% endif %}
		</li>
	</ul>
</div>
