<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>메뉴</h2>
          </header>
          <ul>
            <li><a href="{{ '' | absolute_url }}"><i class="icon solid fa-home"></i> 메인</a></li>
            <li><a href="{{ 'post' | absolute_url }}"><i class="icon solid fa-layer-group"></i> 포스트</a></li>
            <li><a href="{{ 'elements' | absolute_url }}">구성 요소</a></li>
            <li>
              <span class="opener"><i class="icon solid fa-tools"></i> 유용한 사이트 & 툴</span>
              <ul>
                <li><a href="https://github.com/">Github <i class="icon brands fa-github"></i></a></li>
                <li><a href="https://stackoverflow.com/">Stack Overflow <i class="icon brands fa-stack-overflow"></i></a></li>
                <li><a href="https://unity.com/kr">Unity <i class="icon brands fa-unity"></i></a></li>
                <li><a href="https://www.blender.org/">Blender <i class="icon solid fa-cube"></i></a></li>
                <li><a href="https://qgis.org/ko/site/">QGIS <i class="icon solid fa-globe-americas"></i></a></li>
                <li><a href="https://www.opendronemap.org/">Open Drone Map</a></li>
              </ul>
            </li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>포스트</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="{{ 'blog/2' | absolute_url }}" class="image"><img src="{{ 'assets/post_images/2022-08-10/i0.jpg' | absolute_url }}" alt="" /></a>
              <p>GitHub Pages 블로그 만드는 법 0</p>
            </article>
            <article>
              <a href="{{ 'blog/3' | absolute_url }}" class="image"><img src="{{ 'assets/post_images/2022-08-11/i0.jpg' | absolute_url }}" alt="" /></a>
              <p>GitHub Pages 블로그 만드는 법 1</p>
            </article>
            <article>
              <a href="{{ 'blog/1' | absolute_url }}" class="image"><img src="{{ 'assets/images/circuit.jpg' | absolute_url }}" alt="" /></a>
              <p>GitHub 블로그 첫 포스트</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="{{ 'post' | absolute_url }}" class="button">더 보기</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>연락처</h2>
          </header>
          <p></p>
          <ul class="contact">
            <li class="icon solid fa-envelope">{{ site.email }}</li>
            <li class="icon brands fa-instagram"><a href="{{ site.instagram_url }}">@{{ site.instagram_id }}</a><</li>
            <li class="icon solid fa-phone">{{ site.phone }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }}. All rights reserved. Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
