<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<a href="{{ sites.url }}/index.html" class="logo"><strong>컴맹 대학생</strong>'s Blog</a>
									<ul class="icons">
										<li><a href="https://www.instagram.com/skadPtjd/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-steam"><span class="label">Steam</span></a></li>
										<li><a href="https://github.com/BirdWhite" class="icon brands fa-github"><span class="label">Github</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									</ul>
								</header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>{{ page.title }}</h1>
											<p>{{ page.excerpt }}</p>
										</header>
									</div>
								</section>

							<!-- Section -->
								<section>
									{{ content }}
								</section>

							<!-- Section -->
								<section>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Search -->
								<section id="search" class="alt">
									<form method="post" action="#">
										<input type="text" name="query" id="query" placeholder="검색" />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>메뉴</h2>
									</header>
									<ul>
										<li><a href="{{ sites.url }}/index.html">메인</a></li>
										<li><a href="{{ sites.url }}/generic.html">제네릭</a></li>
										<li><a href="{{ sites.url }}/elements.html">홈페이지 구성요소</a></li>
										<li>
											<span class="opener">유용한 사이트들</span>
											<ul>
												<li><a href="https://github.com/">Github</a></li>
												<li><a href="#">Ipsum Adipiscing</a></li>
												<li><a href="#">Tempus Magna</a></li>
												<li><a href="#">Feugiat Veroeros</a></li>
											</ul>
										</li>
										<li>
											<span class="opener">유용한 툴들</span>
											<ul>
												<li><a href="#">Unity</a></li>
												<li><a href="#">QGIS</a></li>
												<li><a href="#">Open Drone Map</a></li>
												<li><a href="#"></a></li>
											</ul>
										</li>
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>포스트</h2>
									</header>
									<div class="mini-posts">
										<article>
											<a href="#" class="image"><img src="/images/pic07.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
										<article>
											<a href="#" class="image"><img src="/images/pic09.jpg" alt="" /></a>
											<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
										</article>
									</div>
									<ul class="actions">
										<li><a href="#" class="button">More</a></li>
									</ul>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>연락처</h2>
									</header>
									<p></p>
									<ul class="contact">
										<li class="icon solid fa-envelope"><a href="#">wjnam123@gmail.com</a></li>
										<li class="icon brands fa-instagram"><a href="https://www.instagram.com/skadPtjd/">@skadptjd</a></li>
										<li class="icon solid fa-phone">(비공개)</li>
									</ul>
								</section>

							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; 2022, WhiteBird. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
								</footer>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
